@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'BTitrBd';
    src: url(/public/BTitrBd.woff) format('woff');
  }
  @font-face {
    font-family: 'BNazanin';
    src: url(/public/BNazanin.ttf) format('ttf');
  }
  @font-face {
    font-family: 'BMitra';
    src: url(/public/BMitra.ttf) format('ttf');
  }
}
header{
  background-image: url(../public/image/r001.jpg);
}
.hambergerMenue{
  position: relative;
}
.hambergerMenue::after{
content: '';
position: absolute;
width: 100%;
height: 10px;
color: black;
}