@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'BTitrBd';
    src: url(/BTitrBd.woff) format('woff');
  }
  @font-face {
    font-family: 'BNazanin';
    src: url(/public/BNazanin.ttf) format('ttf');
  }
  @font-face {
    font-family: 'BMitra';
    src: url(/public/BMitra.ttf) format('ttf');
  }
  @font-face {
    font-family: 'IranianSans';
    src: url(/public/Iranian-Sans.woff) format('woff');
  }
}
*{
  transition: all ease 0.5s;
}
header{
  background: linear-gradient(rgba(0, 0, 0, 0.99),rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.99)), url(../public/image/r001.jpg);
}

.hambergerMenue{
  position: relative;
}
.hambergerMenue::after{
content: '';
position: absolute;
width: 100%;
height: 10px;
color: black;
}