@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'BTitrBd';
    src: url(/BTitrBd.woff) format('woff');
  }
  @font-face {
    font-family: 'BNazanin';
    src: url(/BNazanin.ttf) format('ttf');
  }
  @font-face {
    font-family: 'BMitra';
    src: url(/BMitra.ttf) format('ttf');
  }
}
header{
  background: linear-gradient(rgba(0, 0, 0, 0.99),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.99)), url(../public/image/r001.jpg);
}

.hambergerMenue{
  position: relative;
}
.hambergerMenue::after{
content: '';
position: absolute;
width: 100%;
height: 10px;
color: black;
}