@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Kamran';
    src: url(/public/B\ Kamran_0.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Mj_Titr';
    src: url(/public/Mj_Titr\ DF.ttf) format('ttf');
    }
}
header{
  background-image: url(../public/image/r001.jpg);
}
.hambergerMenue{
  position: relative;
}
.hambergerMenue::after{
content: '';
position: absolute;
width: 100%;
height: 10px;
color: black;
}